version: '3'
services:
  database:
    image: "postgres"
    container_name: postgres-simvet
    restart: always
    env_file:
      - database.env 
    volumes:
      - database-data:/var/lib/postgresql/data/ 
volumes:
  database-data: 